.pagination {
  display: flex;
  justify-content: center;
}

.paginationMtb3 {
  margin: 3rem auto;
}

.paginationNumber,
.paginationItem {
  margin-left: 1rem;
  margin-right: 1rem;
  color: var(--grey-color);
  font-size: 2rem;
  border-radius: 0.2rem;
  cursor: pointer;
}

.paginationItemNonClick {
  cursor: default;
}

.paginationItem:first-child {
  font-size: 1.6rem;
  margin-left: 0;
}

.paginationItem:last-child {
  font-size: 1.6rem;
  margin-right: 0;
}

.paginationNumberActive {
  background-color: var(--primary-color);
  color: var(--white-color);
}

.paginationNumberActive:hover {
  opacity: 0.9;
}

.paginationItem__link {
  display: block;
  min-width: 4rem;
  line-height: 3rem;
  width: 100%;
  text-align: center;
  color: inherit;
  text-decoration: none;
}

.paginationItemDisabled {
  color: #eee;
  cursor: default;
}

.paginationItem__left:active,
.paginationItem__right:active {
  filter: brightness(70%);
}
